<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Sign Up | MegaRocket GYM">
		<meta name="author" content="Gianluca Agrano">
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/layout.css">
		<link rel="stylesheet" type="text/css" href="../css/header.css">
		<link rel="stylesheet" type="text/css" href="../css/sidebar.css">
		<link rel="stylesheet" type="text/css" href="../css/sign-up.css">
		<link rel="stylesheet" type="text/css" href="../css/footer.css">
		<title>Sign Up | MegaRocket GYM</title>
	</head>
    <body>
        <header>
			<div>
				<img src="../../assets/images/menu-icon.png">
			</div>
				<img src="../../assets/images/mega-rocket.png">
		</header>
		<aside>
            <div class="logo">
                <img src="../../assets/images/mega-rocket-2.png" alt="alternative megarocket logo">
            </div>
            <div class="main-nav">
            <ul>
                <li>Home</li>
                <li>Sign Up</li>
                <li>Login</li>
                <div>
                    <li class="contact-menu">Contact</li>
                    <img src="../../assets/images/arrow.png" alt="arrow pointing downwards">
                </div>
            </ul>
            </div>
            <p>Get in contact</p>
            <div class="get-contact">
                <div class="email">
                    <img src="../../assets/images/email.png" alt="envelope icon">
                    <p>RocketSA@gmail.com</p>
                </div>
                <div class="telephone">
                    <img src="../../assets/images/telephone.png" alt="telephone icon">
                    <p>(000) 000-000000</p>
                </div>
                <div class="location">
                    <img src="../../assets/images/location.png" alt="home icon">
                    <p>Somewhere -Zeballos 1410</p>
                </div>
            </div>
		</aside>
		<main>
			<h1>Sign Up</h1>
			<section>
				<form>
					<h2>Register</h2>
                    <div id="name-field">
                        <img src="../../assets/images/personal-info.png">
                        <input id="name" class="info-field" type="text" name="Name">
                    </div>
                    <div id="last-name-field">
                        <img src="../../assets/images/personal-info.png">
                        <input id="last-name" class="info-field" type="text" name="Last Name">
                    </div>
                    <div id="dni-field">
                        <img src="../../assets/images/">
                        <input id="dni" class="info-field" type="text" name="DNI">
                    </div>
                    <div id="bday-date-field">
                        <img src="../../assets/images/">
                        <input id="bday-date" class="info-field" type="text" name="Birthday">
                    </div>
                    <div id="tel-number-field">
                        <img src="../../assets/images/">
                        <input id="tel-number" class="info-field" type="text" name="Contact Number">
                    </div>
                    <div id="address-field">
                        <img src="../../assets/images/">
                        <input id="address" class="info-field" type="text" name="Address">
                    </div>
                    <div id="locality-field">
                        <img src="../../assets/images/">
                        <input id="locality" class="info-field" type="text" name="Locality">
                    </div>
                    <div id="postal-code-field">
                        <img src="../../assets/images/">
                        <input id="postal-code" class="info-field" type="text" name="Postal Code">
                    </div>
                    <div id="email-field">
						<img src="../../assets/images/email-login.png">
						<input id="email" class="info-field" type="text" name="Email">
					</div>
                    <div id="pass-field">
						<img src="../../assets/images/password.png">
						<input id="password" class="info-field" type="text" name="Password">
					</div>
                    <div id="repeat-pass-field">
                        <img src="../../assets/images/confirm-pass.png">
                        <input id="repeat-pass" class="info-field" type="text" name="Repeat Password">
                    </div>
                    <a href="login.html">Already have an account?</a>
					<button id="sign-up" type="submit">Sign Up</button>
				</form>
			</section>
            <footer>
                <div>
                    <a href="https://www.twitter.com"><img src="../../assets/images/twitter.png" alt="twitter logo"></a>
                    <a href="https://www.instagram.com"><img src="../../assets/images/instagram.png" alt="instagram logo"></a>
                    <a href="https://www.facebook.com"><img src="../../assets/images/facebook.png" alt="facebook logo"></a>
                </div>
                <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
            </footer>
		</main>
        <script defer src="../js/sign-up.js"></script>
    </body>
</html>