header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    background-color: #373867;
}

.header {
    width: 80%;
    margin-left: 20%;
}

.menu {
    margin-right: 20px;
}

.menu img:hover {
    cursor: pointer;
}

.alt-logo img {
    padding: 20px 0;
}

@media only screen and (min-width: 1024px) {
    .header {
        width: 100%;
        margin: 0;
    }

    .menu img:hover {
        cursor: default;
    }
}