p {
    width: 100%;
    display: inline;
}

button {
    align-self: center;
    width: 80%;
    padding: 2%;
    margin: 5% 0;
    background-color: #CC9D42;
    color: #ffffff;
}

form {
    width: 50%;
    padding: 5% 10%;
    background-color: #8E969C;
}

form input[type="text"] {
    height: 25px;
}

form input[type="date"] {
    height: 27px;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

form div:last-child {
    text-align: center;
}

@media only screen and (min-width: 1024px){
    form {
        display: flex;
        flex-wrap: wrap;
        padding: 2% 5%;
    }

    form div {
        width: 45%;
        margin: 25px 10px;
    }

    .form-tittle {
        width: 100%;
    }
}