header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    background-color: #373867;
}

.menu {
    margin-right: 20px;
}

.alt-logo img {
    padding: 20px 0;
}

@media only screen and (min-width: 1024px) { 
    .menu {
        margin-right: 20px;
    }
    
    .alt-logo img {
        padding: 20px 0;
    }    
}