header {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 0;
    background-color: #373867;
}

.menu {
    margin-right: 20px;
}

.menu img {
    width: 80%;
}

.alt-logo img {
    padding: 10px 0;
}

@media only screen and (min-height: 1024px){
    
}