    aside {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        background-color: #373867;
    }
    
    .logo {
        padding-top: 15px;
        text-align: center;
    }
    
    .main-nav {
        margin-left: 10%;
        width: 80%;
    }
    
    .main-nav li {
        width: 80%;
        padding: 15px 0;
        font-size: 35px;
        font-weight: 700;
        color: #C4C4C4;
        border-bottom: 2px solid #C4C4C4;
    }
    
    nav .contact-menu {
        display: inline-block;
        border: none;
        color: #46A37C;
    }
    
    nav p {
        width: 51%;
        margin-left: 5%;
        font-size: 16px;
        font-weight: 700;
        color: #46A37C;
        border-bottom: 2px solid #46A37C;
    }
    
    .get-contact p {
        display: inline-block;
        width: 80%;
        margin-left: 1%;
        color: #C4C4C4;
        border: none;
    }
    
    .email, .location, .telephone {
        margin-top: 4%;
        margin-left: 5%;
    }