p {
    width: 100%;
}

button {
    margin: 5% 0;
    background-color: #CC9D42;
    color: #ffffff;
}

form {
    width: 50%;
    padding: 5% 10%;
    background-color: #8E969C;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

form div:last-child {
    text-align: center;
}